[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  REACT_APP_API_URL = "https://mediforcast-app.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
